*
!/**/
!*.*

!build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

senjo/build/*

plan.md
a.txt
*.data
*.old
map_output.cpp
generator.cpp
log.txt
.vscode/*
cutechess-cli/*
fast*
config.json
app/*
*.bin
Book.bin
*.epd
